name: CI

on:
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: true

      - name: Get changes
        run: git diff --name-only ${{ github.event.before }} ${{ github.event.after }}

      - name: Test
        run: |
          npx tsx ./src/verify.ts
